$width-large: 1280px;
$width-medium: 1024px;
$width-small: 768px;
$width-mobile: 425px;

@mixin media-font($width, $font-size, $size-change: 0px) {
  @media (max-width: $width) {
    font-size: calc($font-size - $size-change) !important;
  }
}

.no_data {
  margin-top: 2.5%;
  text-align: center;

  img {
    width: 50%;

    @media (max-width: $width-small) {
      width: 80%;
    }
  }

  @media (max-width: $width-small) {
    margin-top: 7.5%;
  }
}

.root {
  min-height: 100vh;
}

.inner {
  width: 85%;
  margin: auto;
  padding: 2% 0;

  .top {
    display: flex;
    justify-content: space-between;
    width: 94%;
    padding: 1.8% 2%;

    background: white;
    border-radius: var(--border-radius-primary);

    h1 {
      margin: 0;

      color: var(--color-darkblue);
      font-size: var(--font-size-large);
      font-weight: 500;

      @include media-font($width-medium, var(--font-size-large), 6px);
      @include media-font($width-mobile, var(--font-size-large), 12px);
    }
    h1::first-letter {
      text-transform: capitalize;
    }

    @media (max-width: $width-small) {
      width: 95%;
    }
  }

  .filter {
    width: max-content;
    height: max-content;
    margin-right: 0.6%;
    text-align: center;

    border-radius: var(--border-radius-primary);

    .btn_filter {
      $font-size-btn: calc(var(--font-size-small) - 2px);
      
      color: var(--color-primary) !important;
      font-size: $font-size-btn !important;
      border-color: var(--color-primary) !important;

      @include media-font($width-medium, $font-size-btn, 3px);
      @include media-font($width-mobile, $font-size-btn, 5px);

      @media (max-width: $width-large) {
        padding: 5px 10px !important;
      }

      @media (max-width: $width-small) {
        padding: 3.75px 7.5px !important;
      }
    }

    .btn_filter:hover {
      background: var(--color-primary-light) !important;
    }

    .active {
      font-weight: 600 !important;
      background: var(--color-primary) !important;
      color: white !important;
    }

    .active:hover {
      background: var(--color-primary) !important;
    }
  }

  @media (max-width: $width-small) {
    padding: 4% 0%;
  }
}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2.5%;

  width: 100%;
  margin: 0;
  padding-top: 2%;

  @media (max-width: $width-small) {
    padding: 4% 0%;
  }
}

.skeleton {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2.5%;

  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 2%;
}
