$width-large: 1280px;
$width-medium: 1024px;
$width-small: 768px;
$width-mobile: 425px;

@mixin media-font($width, $font-size, $size-change: 0px) {
  @media (max-width: $width) {
    font-size: calc($font-size - $size-change);
  }
}

.root {
  min-height: 50vh;
  padding: 5.5% 12.5%;
  text-align: start;

  background: white;
}

.inner {
  margin: 0 auto;
  text-align: center;
  color: var(--color-darkblue);

  .title {
    margin-top: 0;
    margin-bottom: 42px;

    text-align: center;
    color: black;
    font-size: var(--font-size-title);
    font-weight: 500;

    @include media-font($width-large, var(--font-size-title), 4px);
    @include media-font($width-medium, var(--font-size-title), 8px);
    @include media-font($width-small, var(--font-size-title), 12px);
    @include media-font($width-mobile, var(--font-size-title), 16px);

    @media (max-width: $width-small) {
      margin-bottom: 21px;
    }
  }
}

.main_tip {
  margin: 2.5% 0 0;
  padding: 0.5% 2.5%;
  text-align: start;
  background: var(--color-light-bg);

  border-left: 12px solid var(--color-lightgrey);
  border-right: 12px solid var(--color-lightgrey);
  border-radius: var(--border-radius-primary);

  p {
    font-size: var(--font-size-small);
    @include media-font($width-mobile, var(--font-size-small), 4px);
  }

  @media (max-width: $width-small) {
    margin-bottom: 5%;
  }
}

.tips {
  display: flex;
  justify-content: space-between;
  margin: 2.5% 0 0;

  .tip {
    position: relative;
    box-sizing: border-box;
    width: 32%;
    padding: 1.5% 2.5%;

    text-align: start;
    background: var(--color-light-bg);

    border-radius: var(--border-radius-primary);

    .icon {
      position: absolute;
      top: 0%;
      right: 1%;
      font-size: 50px;

      opacity: 0.25;
    }

    @media (max-width: $width-small) {
      width: 100%;
      margin-bottom: 5%;
    }
  }

  @media (max-width: $width-small) {
    flex-direction: column;
  }
}

.text {
  $font-size-text: calc(var(--font-size-small) - 2px);

  height: calc(90% - (1.5% * 5));
  padding: 2px;

  border-bottom: 1.5px solid white;

  h1 {
    width: 80%;
    font-size: $font-size-text;

    @include media-font($width-mobile, $font-size-text, 2px);
  }

  p {
    font-size: $font-size-text;
    font-weight: 400;
    line-height: 1.5;

    @include media-font($width-mobile, $font-size-text, 2px);
  }
}

.user {
  display: flex;
  justify-content: flex-start;
  margin: 3% 0 0;
  height: 10%;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @media (max-width: $width-small) {
      width: 45px;
      height: 45px;
    }
  }

  .userInfo {
    margin-left: 5%;

    h1 {
      margin: 0;
      font-size: var(--font-size-small);

      @include media-font($width-mobile, var(--font-size-small), 2px);
    }

    p {
      margin: 0;
      font-size: var(--font-size-small);

      @include media-font($width-mobile, var(--font-size-small), 2px);
    }
  }
}
