$width-large: 1280px;
$width-medium: 1024px;
$width-small: 768px;
$width-mobile: 425px;
$item-font-size: calc(var(--font-size-small) + 1px);

div {
  overflow-x: unset !important;
  overflow-y: unset !important;
}

a {
  text-decoration: none;
}

.active {
  border-bottom: 3px solid white;
}

.root {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;

  background: white;
  color: var(--color-darkblue);
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo {
  display: flex;
  width: 20%;
  margin: 0;

  .first_title {
    color: var(--color-primary);
    font-weight: 500;
  }

  .second_title {
    color: var(--color-darkblue);
    font-weight: 500;
  }

  .dot {
    color: var(--color-primary);
    font-weight: 500;
  }
   
  h1 {
    font-size: var(--font-size-large);

    @media(max-width: $width-large) {
      font-size: calc(var(--font-size-large) - 4px);
    } 

    @media(max-width: $width-medium) {
      font-size: calc(var(--font-size-large) - 8px);
    } 

    @media(max-width: $width-small) {
      font-size: calc(var(--font-size-large) - 12px);
    } 
  }
}

.blog_items {
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 5%;

  .item {
    margin: 0;
    padding: 10px 5px;

    color: var(--color-darkblue);
    font-size: $item-font-size;
    font-weight: 500;

    @media(max-width: $width-large) {
      font-size: calc($item-font-size - 2px);
    }
    
    @media(max-width: $width-medium) {
      font-size: calc($item-font-size - 4px);
      padding: 8px 3px;
    }

    @media(max-width: $width-small) {
      font-size: calc($item-font-size - 6px);
    }
  }
}

.dropdown_items {
  position: relative;
  margin-top: 0px;
  padding-top: 10px;
}

.menu_title {
  position: absolute;
  top: -40px;
  left: 2.5%;

  width: 150px;
  height: 45px;

  //background: black;
  color: var(--color-darkblue);

  font-size: 22px;
}

.dropdown_item {
  padding: 8px 10px !important;
  padding-right: 50px !important;

  color: var(--color-darkblue) !important;
  font-size: $item-font-size !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;

  @media(max-width: $width-medium) {
    padding-right: 70px !important;
  }
}

.login {
  background: var(--color-primary) !important;
}