$width-large: 1280px;
$width-medium: 1024px;
$width-small: 768px;
$width-mobile: 425px;
$item-font-size: calc(var(--font-size-small) + 1px);

@mixin media-font($width, $font-size, $size-change: 0px) {
  @media (max-width: $width) {
    font-size: calc($font-size - $size-change) !important;
  }
}

div {
  overflow-x: unset !important;
  overflow-y: unset !important;
}

a {
  text-decoration: none;
}

.active {
  border-bottom: 3px solid white;
}

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 0 2.5%;

  background: white;
  color: var(--color-darkblue);

  @media (max-width: $width-small) {
    width: 100%;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 25%;
  margin: 0;

  .first_title {
    color: var(--color-primary);
    font-weight: 500;
  }

  .second_title {
    color: var(--color-darkblue);
    font-weight: 500;
  }

  .dot {
    color: var(--color-primary);
    font-weight: 500;
  }
   
  h1 {
    font-size: var(--font-size-large);

    @include media-font($width-large, var(--font-size-large), 4px); 
    @include media-font($width-medium, var(--font-size-large), 8px); 
    @include media-font($width-small, var(--font-size-large), 12px); 
  }

  @media (max-width: $width-small) {
    display: none;
  }
}

.blog_items {
  display: flex;
  justify-content: center;
  width: 75%;
  gap: 2.5%;

  .item {
    margin: 0;
    padding: 10px 5px;

    color: var(--color-darkblue);
    font-size: $item-font-size;
    font-weight: 500;

    @include media-font($width-large, $item-font-size, 2px);
    @include media-font($width-medium, $item-font-size, 4px);
    @include media-font($width-small, $item-font-size, 6px);
  }

  @media (max-width: $width-small) {
    width: 95%;
  }
}

.dropdown_items {
  position: relative;
  margin-top: 0px;
  padding-top: 10px;
}

.menu_title {
  position: absolute;
  top: -40px;
  left: 2.5%;

  width: 150px;
  height: 45px;

  color: var(--color-darkblue);
  font-size: 22px;
}

.dropdown_item {
  padding: 8px 10px !important;
  padding-right: 50px !important;

  color: var(--color-darkblue) !important;
  font-size: $item-font-size !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;

  @include media-font($width-large, $item-font-size, 1px);
  @include media-font($width-medium, $item-font-size, 3px);
  @include media-font($width-small, $item-font-size, 5px);

  @media(max-width: $width-medium) {
    padding-right: 70px !important;
  }
}

.login {
  background: var(--color-primary) !important;
}