$width-large: 1280px;
$width-medium: 1024px;
$width-small: 768px;
$width-mobile: 425px;

@mixin media-font($width, $font-size, $size-change: 0px) {
  @media (max-width: $width) {
    font-size: calc($font-size - $size-change);
  }
}

%post-section {
  h1 {
    $font-size-h1: calc(var(--font-size-small) + 4px);

    margin: 20px 0 5px;
    padding: 0;

    color: var(--color-darkblue);
    font-size: $font-size-h1;
    font-weight: 500;
  }

  .main_text {
    margin: 10px 0 0;

    font-size: var(--font-size-small);
    letter-spacing: 0.1px;
  }
}

.border_title {
  width: 100%;
  border-bottom: 3px solid var(--color-border);
}

.border_block {
  width: 85%;
  border-bottom: 1px solid var(--color-border);
}

.border {
  width: 4.5%;
  border-bottom: 3px solid var(--color-darkblue);
}

.root {
  width: 47.5%;
  margin-bottom: 2.5%;

  background: white;
  color: var(--color-darkblue);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-primary);
  box-shadow: 0px 0px 2px 0px white;

  transition: all 0.3s ease;
  &:hover {
    .buttons {
      opacity: 1;
    }
    transition: all 0.3s ease;
    box-shadow: 0px 0px 1px 0px var(--color-darkblue);
  }

  @media (max-width: $width-medium) {
    width: calc(100% - 4px);
  }
}

.inner {
  padding: 3.5% 5%;
}

.top {
  .title {
    margin: 0 0 20px;
    color: var(--color-primary);

    font-size: var(--font-size-medium);
    font-weight: 500;
    letter-spacing: 0.2px;
  }

  .explain {
    display: flex;
    align-items: center;
    height: 150px;
    margin: 0;

    color: var(--color-darkblue);
    font-size: var(--font-size-small);
  }
}

.creation {
  @extend %post-section;

  .container {
    display: flex;
    align-items: center;

    width: 100%;
    height: 150px;

    .verbs {
      width: 100%;
    }

    .verb {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;

      b {
        width: 5%;
        text-align: center;
      }

      p {
        width: 92.5%;
        margin: 0;
        margin-left: 2.5%;
        padding: 0;
        padding-bottom: 12px;
      }
    }
  }
}

.examples {
  @extend %post-section;
}

.markers {
  @extend %post-section;
}

.caption {
  display: flex;
  align-items: center;
  margin-top: 5%;

  h1 {
    margin: 0 0 0 2px;
  }
}

.learn_more {
  .btn {
    margin-top: 40px;
    padding: 2.5% 6.5%;
    background: var(--color-primary);
    color: white;

    font-size: var(--font-size-small);

    border: 0;
    border-radius: var(--border-radius-primary);
  }
}
